MY_PROJECT_PREP_TST/**      linguist-generated=true
MY_PROJECT_PREP_PRD/**      linguist-generated=true
MY_PROJECT_ANALYTICS_TST/** linguist-generated=true
MY_PROJECT_ANALYTICS_PRD/** linguist-generated=true