MY_PROJECT_TST_PREP_DB/**       linguist-generated=true
MY_PROJECT_TST_ANALYTICS_DB/**  linguist-generated=true
MY_PROJECT_PRD_PREP_DB/**       linguist-generated=true
MY_PROJECT_PRD_ANALYTICS_DB/**  linguist-generated=true